footer{

  background-color: #e6572c !important;
    ul{
        padding-left: 0;
       
        li{
            display: inline-block;
            display: flex;
            flex-direction: column;
           
          a{
             
             
          }
  
  
  
         
        }
  
  
  


}


}






